<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/datatables/datatables.min.css">

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <div class="content fadeInAtas">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Counted Data</h1>
              <h3>Total Users : 
              </h3>
              <h3>Total Author : 
              </h3>
              <h3>Total Respondent :
              </h3>
            </div>
          </div>

          <div class="content fadeInAtas">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Counted Data</h1>
              <h3>Total Users : 
              </h3>
              <h3>Total Author : 
              </h3>
              <h3>Total Respondent :
              </h3>
            </div>
          </div>

          <div class="content fadeInAtas">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Counted Data</h1>
              <h3>Total Users : 
              </h3>
              <h3>Total Author : 
              </h3>
              <h3>Total Respondent :
              </h3>
            </div>
          </div>

          <div class="content fadeInAtas">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Counted Data</h1>
              <h3>Total Users : 
              </h3>
              <h3>Total Author : 
              </h3>
              <h3>Total Respondent :
              </h3>
            </div>
          </div>

        </div>
      </div>
      <!-- MODAL MENU -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/scripts.ejs') %>
  </body>

</html>