<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>User Control</h1>
            </div>
            <div class="card-container scroll-samping">
              <!-- Menu Item Card -->
              <% menus.forEach(menu=> { %>
                <div class="card <%=(menu.status ? 'pending' : '' ) %>">
                  <a href="<%= menu.link %> ">
                    <h3>
                      <i class="<%= menu.icon %> "></i>
                    </h3>
                    <div class="card-label">
                      <p>
                        <%= menu.label %>
                      </p>
                    </div>
                  </a>
                </div>
                <% }) %>
                  <div class="card fadeInKiri">
                    <a href="content/add.html">
                      <h3>
                        <i class="fas fa-plus-circle"></i>
                      </h3>
                      <div class="card-label">
                        <p>New quesioner</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInAtas">
                    <a href="content/quesioner.html">
                      <h3>
                        <i class="fas fa-eye"></i>
                      </h3>
                      <div class="card-label">
                        <p>Publish</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInBawah">
                    <a href="content/result.html">
                      <h3>
                        <i class="fas fa-poll"></i>
                      </h3>
                      <div class="card-label">
                        <p>Result</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInKiri">
                    <a href="content/add.html">
                      <h3>
                        <i class="fas fa-plus-circle"></i>
                      </h3>
                      <div class="card-label">
                        <p>New quesioner</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInAtas">
                    <a href="content/quesioner.html">
                      <h3>
                        <i class="fas fa-eye"></i>
                      </h3>
                      <div class="card-label">
                        <p>Publish</p>
                      </div>
                    </a>
                  </div>
            </div>
          </div>
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Go To Links</h1>
            </div>
            <div class="card-container scroll-samping">
              <!-- Menu Item Card -->
              <% menus.forEach(menu=> { %>
                <div class="card <%=(menu.status ? 'pending' : '' ) %>">
                  <a href="<%= menu.link %> ">
                    <h3>
                      <i class="<%= menu.icon %> "></i>
                    </h3>
                    <div class="card-label">
                      <p>
                        <%= menu.label %>
                      </p>
                    </div>
                  </a>
                </div>
                <% }) %>
                  <div class="card fadeInKiri">
                    <a href="content/add.html">
                      <h3>
                        <i class="fas fa-plus-circle"></i>
                      </h3>
                      <div class="card-label">
                        <p>New quesioner</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInAtas">
                    <a href="content/quesioner.html">
                      <h3>
                        <i class="fas fa-eye"></i>
                      </h3>
                      <div class="card-label">
                        <p>Publish</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInBawah">
                    <a href="content/result.html">
                      <h3>
                        <i class="fas fa-poll"></i>
                      </h3>
                      <div class="card-label">
                        <p>Result</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInKiri">
                    <a href="content/add.html">
                      <h3>
                        <i class="fas fa-plus-circle"></i>
                      </h3>
                      <div class="card-label">
                        <p>New quesioner</p>
                      </div>
                    </a>
                  </div>

                  <div class="card fadeInAtas">
                    <a href="content/quesioner.html">
                      <h3>
                        <i class="fas fa-eye"></i>
                      </h3>
                      <div class="card-label">
                        <p>Publish</p>
                      </div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL MENU -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/scripts.ejs') %>
  </body>

</html>