<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>

      <!-- CONTENT -->
      <div class="container">
        <div class="row-content">
          <div class="info-content fadeInAtas">
            <p>No question type selected yet</p>
            <p>Click <strong>Options</strong> to start making inquiries</p>
          </div>
          
          <!-- FORM -->
          <form action="/author/qbank/add" method="POST">
            <div class="setup"></div>
          </form>

        </div>
      </div>
      <!-- END CONTENT -->

      <!-- MODAL QBANK-->
      <%- include('../partials/modal-qbank.ejs') %>
        <!-- MODAL MENU -->
        <%- include('../partials/modal-auth.ejs') %>
          <!-- FOOTER PARTIALS -->
          <%- include('../partials/footer.ejs') %>
            <!-- SCRIPT PARTIALS -->
            <%- include('../partials/scripts.ejs') %>
              <!-- Add Qbank Script -->
              <script src="/custom/js/add-question-re.js"></script>
  </body>

</html>