<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>
  <!-- DataTables -->
  <link rel="stylesheet" href="/datatables/datatables.min.css">

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">

          <!-- QFORM Menus -->
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <h1>Public QForm List</h1>
            </div>
          </div>

          <div class="data-content fadeInAtas">
            <!-- responsive table -->
            <% if (qforms.length>0) { %>
              <div class="table-responsive">
                <table id="dataTable" class="data-table">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>CreatedAt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% qforms.forEach((item, index)=> { %>
                      <tr>
                        <td>
                          <%= index+1 %>
                        </td>
                        <td><a href="<%= link.public %>/?id=<%= item._id %>">
                            <%= item.title %>
                          </a>
                        </td>
                        <td>
                          <%= item.userId.displayName %>
                        </td>
                        <td>
                          <%= simpleDate(item.createdAt) %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
                <div class="info-content fadeInAtas">
                  <p>No questions created yet</p>
                  <p>Click <strong>Add</strong> to start creating questions</p>
                </div>
                <% } %>
          </div>

        </div>
      </div>
      <!-- MODAL MENU -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/scripts.ejs') %>
            <!-- DataTables -->
            <script src="/datatables/datatables.min.js"></script>
            <script>
              $(document).ready(function () {
                $('#dataTable').DataTable({
                  lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                });
              });
            </script>
  </body>

</html>