<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIALS -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV PARTIALS -->
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row-content">

          <!-- Menus -->
          <div class="content fadeInKiri">
            <div class="line"></div>
            <div class="bungkus-content">
              <center>
                <h1>Sign Up & Sign In</h1>
                <video width="320" height="240" controls>
                  <source src="https://ss.kitakoleksi.my.id/TUjE7/yosUWunE93/raw.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </center>
            </div>
            <div class="bungkus-content">
              <center>
                <h1>Self Promote to Author</h1>
                <video width="320" height="240" controls>
                  <source src="https://ss.kitakoleksi.my.id/TUjE7/juVoKElu25/raw.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </center>
            </div>
          </div>

        </div>
      </div>
      <!-- MODAL MENU -->
      <%- include('../partials/modal-auth.ejs') %>
        <!-- FOOTER PARTIALS -->
        <%- include('../partials/footer.ejs') %>
          <!-- SCRIPT PARTIALS -->
          <%- include('../partials/scripts.ejs') %>
  </body>

</html>